[base]
prefix = ab!
token = token goes here
description = AveBot is a bot that does some neat and some dumb stuff
postgres-connection-string = dbname=avebot user=avebot password=something
main-channel = main channel id goes here
support-channel = support channel id goes here
emoji-guild = emoji guild id goes here

[advanced]
unfurl-depth = 5
max-slice = 3

[tumblr]
apikey = tumblr api key goes here

[homeheat]
dataurl = data url here
charturl = chart url here

[wakatime]
url = wakatime png link goes here

[render]
splashhost = splash host goes here

[howold]
uribase = https://eastus.api.cognitive.microsoft.com
subkey = SUBKEY goes here

[gifify]
font = MuktaMalar-Medium.ttf

[emojis]
emojiinvite = emoji server invite goes here