[base]
prefix = >
token = token_goes_here
description = AveBot is a bot that does some neat and some dumb stuff
main-channel = main_channel_id_goes_here
support-channel = support_channel_id_goes_here
emoji-guild = emoji_guild_id_goes_here

[advanced]
add-reactions = True
voting-prefix = Vote:
voting-emoji-y = 🇾
voting-emoji-n = 🇳
unfurl-depth = 5

[permissions]
your_discord_id_here = 9

[stats]
url = stats_add_url_goes_here
key = stats_key_goes_here

[tumblr]
apikey = tumblr_api_key_goes_here

[tagbox]
url = tagbox_check_url_goes_here

[howold]
uribase = https://eastus.api.cognitive.microsoft.com
subkey = SUBKEY goes here
