aiohttp==1.0.5
appdirs==1.4.3
asciinema==1.4.0
async-timeout==1.2.0
Beaker==1.8.1
chardet==3.0.2
discord.py==0.16.7
isc==2.0
louis==3.0.0
Mako==1.0.6
MarkupSafe==1.0
multidict==2.1.4
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
team==1.0
websockets==3.3
